{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>ENPLAN Parcel Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/normalize-2.1.3.css" %}" rel="stylesheet" />
    <link href="{% static "css/pv.css" %}" rel="stylesheet" />
    <link href="{% static "css/print.css" %}" rel="stylesheet" />
    <link href="{% static "css/dropdown.css" %}" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
		(function(i, s, o, g, r, a, m){
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {(i[r].q = i[r].q || []).push(arguments)};
			i[r].l = 1 * new Date();

			a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-9249317-2', 'auto');
		ga('send', 'pageview');
    </script>
  </head>
  <body>
	<div id="printwrap">
	    <div id='map'></div>
    </div>
	<div id="header1" class="header">
		<a id="enplan" href="http://www.enplan.com">ENPLAN</a>
		<div id="links">
	  		<a id="share-tool" href="#">Share</a> &bull;
			<a id="zoom-tool" href="#">Zoom to Selection</a> &bull;
			<a id="help-tool" href="#">About PV</a> &bull;
			(530) 221-0440 &bull;
			<a href="mailto:gisteam@enplan.com">gisteam@enplan.com</a>
  		</div>
	</div>
	<div id="header2" class="header">
		<h1>Parcel Viewer</h1>
		<div id="dropdown">
			<input id="searchbox" type="text" class="form-control" placeholder="Search by address or assessor parcel number.">
			<table id="dropdown-working"><tr><td class="dummy">Searching...</td></tr></table>
			<table id="dropdown-nothing"><tr><td class="dummy">No parcels match your search.</td></tr></table>
			<table id="dropdown-problem"><tr><td class="dummy">Server error.  Sorry!</td></tr></table>
			<table id="dropdown-display"><tbody id="dropdown-container"></tbody></table>
	</div>
    <div id="overlay" style="display:none"></div>
    <div id="share-window" class="window" style="display:none">
    	<h3>Share this View</h3>
    	<p>Send anyone else the link below; they'll be able to see the area you're currently looking at, as well as any parcels you have selected.</p>
    	<a id="share-url"></a>
    	<a class="close-window" href="#">Close</a>
    </div>
    <div id="info-window" class="window" style="display:none">
        <div id="info-left">
            <h3>Using Parcel Viewer</h3>
            <p>Click anywhere within a county boundary to see information for that parcel.  Parcel boundaries won't show up until you've zoomed in - they look really messy otherwise - but you can always click for information.</p>
            <p>Know the address or APN of the parcel you want?  Just start typing it into the search bar, and we'll find it for you.</p>
            <p>And that's really all there is to it.  Enjoy using parcel viewer!</p>
        </div>
        <div id="info-right">
            <h3>Terms of Use</h3>
            <p>Parcel boundaries and ownership information were acquired from their respective counties.  ENPLAN is not responsible for that content, and makes no guarantees regarding their accuracy.</p>
            <p>Parcel Viewer uses Google Maps to display parcel boundaries.  This is subject to the relevant <a href="http://www.google.com/intl/en-US/help/terms_maps.html" target="_blank">Terms of Use</a>.</p>
        </div>
        <a class="close-window" href="#">Close</a>
    </div>
    <script type="text/javascript">
        var extent = {{ extent }};
    </script>
    <script type='bogus' id='tabcontent'>
        <div class="popup-content">
        [[#data]]
        <table>
            [[#owner]]
            <tr><th>Owner</th><td>[[owner]]</td></tr>
            [[/owner]]
            [[^owner]]
            <tr><th>Owner</th><td class="empty">[no data]</td></tr>
            [[/owner]]
            [[#saddr1]]
            <tr><th>Address</th><td>[[saddr1]]</td></tr>
            <tr><th></th><td>[[saddr2]]</td></tr>
            [[/saddr1]]
            [[^saddr1]]
            <tr><th>Address</th><td class="empty">[no data]</td></tr>
            [[/saddr1]]
            <tr><th>APN</th><td>[[apn]]</td></tr>
        </table>
        [[/data]]
        </div>
    </script>
    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script src="{% static "js/GeoJSON.js" %}"></script>
    <script src="{% static "js/hogan-2.0.0.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5Ctp-7ORjw5OX_9hUnYxoVjtoQNvtgEE&sensor=false"></script>
    <script src="{% static "js/pv.js" %}"></script>
    <script src="{% static "js/dropdown.js" %}"></script>
  </body>
</html>

