{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>ENPLAN Parcel Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/normalize-2.1.3.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/pv.css" %}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<h1>
  		<a id="enplan" href="http://www.enplan.com">ENPLAN</a>
  		Parcel Viewer
  		<a id="help-tool" href="#" class="button" title="About Parcel Viewer"><img src="{% static 'img/help.png' %}" /></a>
  	</h1>
    <div id='map'></div>
    <div id="header">
        <input id="searchbox" type="text" class="form-control" placeholder="Search by APN or Address">
    </div>
    <div id="overlay" style="display:none"></div>
    <div id="info-window" style="display:none">
        <div id="info-left">
            <h3>Using Parcel Viewer</h3>
            <p>Click anywhere within a county boundary to see information for that parcel.  Parcel boundaries won't show up until you've zoomed in - they look really messy otherwise - but you can always click for information.</p>
            <p>Know the address or APN of the parcel you want?  Just start typing it into the search bar, and we'll find it for you.</p>
            <p>And that's really all there is to it.  Enjoy using parcel viewer!</p>
        </div>
        <div id="info-right">
            <h3>Terms of Use</h3>
            <p>Parcel boundaries and ownership information were acquired from their respective counties.  ENPLAN is not responsible for that content, and makes no guarantees regarding their accuracy.</p>
            <p>Parcel Viewer uses Google Maps to display parcel boundaries.  This is subject to the relevant <a href="http://www.google.com/intl/en-US/help/terms_maps.html" target="_blank">Terms of Use</a>.</p>
        </div>
        <a id="info-close" href="#">Close</a>
    </div>
    <script type="text/javascript">
        var extent = {{ extent }};
    </script>
    <script type='bogus' id='tabcontent'>
        <div class="popup-content">
        [[#data]]
        <table>
            [[#owner]]
            <tr><th>Owner</th><td>[[owner]]</td></tr>
            [[/owner]]
            [[^owner]]
            <tr><th>Owner</th><td class="empty">[no data]</td></tr>
            [[/owner]]
            [[#saddr1]]
            <tr><th>Address</th><td>[[saddr1]]</td></tr>
            <tr><th></th><td>[[saddr2]]</td></tr>
            [[/saddr1]]
            [[^saddr1]]
            <tr><th>Address</th><td class="empty">[no data]</td></tr>
            [[/saddr1]]
            <tr><th>APN</th><td>[[apn]]</td></tr>
        </table>
        [[/data]]
        </div>
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/typeahead.min.js" %}"></script>
    <script src="{% static "js/GeoJSON.js" %}"></script>
    <script src="{% static "js/hogan-2.0.0.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5Ctp-7ORjw5OX_9hUnYxoVjtoQNvtgEE&sensor=false"></script>
    <script src="{% static "js/pv.js" %}"></script>
  </body>
</html>

