{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>ENPLAN Parcel Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!--link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen"-->
    <link href="{% static "css/pv.css" %}" rel="stylesheet" media="screen">
    <!--link href="{% static "css/typeahead.js-bootstrap.css" %}" rel="stylesheet" media="screen"-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="header">
        ENPLAN Parcel Viewer
        <a id="help-tool" href="#" class="button" title="About Parcel Viewer"><img src="{% static 'img/help.png' %}" /></a>
        <a id="find-tool" href="#" class="button" title="Search"><img src="{% static 'img/search.png' %}" /></a>
        <input id="searchbox" type="text" class="form-control" placeholder="Search by APN or Address">
    </div>
    <div id='map'></div>
    <div id="overlay" style="display:none"></div>
    <div id="info-window" style="display:none">
        <div id="info-left">
            <h3>Using Parcel Viewer</h3>
            <p>Click anywhere within a county boundary to see information for that parcel.  Parcel boundaries won't show up until you've zoomed in - they look really messy otherwise - but you can always click for information.</p>
            <p>Know the address or APN of the parcel you want?  Just start typing it into the search bar, and we'll find it for you.</p>
            <p>And that's really all there is to it.  Enjoy using parcel viewer!</p>
        </div>
        <div id="info-right">
            <h3>Terms of Use</h3>
            <p>Parcel boundaries and ownership information were acquired from their respective counties.  ENPLAN is not responsible for that content, and makes no guarantees regarding their accuracy.</p>
            <p>Parcel Viewer uses Google Maps to display parcel boundaries.  This is subject to the relevant <a href="http://www.google.com/intl/en-US/help/terms_maps.html" target="_blank">Terms of Use</a>.</p>
        </div>
        <a id="info-close" href="#">Close</a>
    </div>
    <script type="text/javascript">
        var extent = {{ extent }};
    </script>
    <script type='bogus' id='tabcontent'>
        <div id="content">
            <!--<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#parcel" data-toggle="tab">Parcel Data</a></li>
                <li><a href="#spatial" data-toggle="tab">Spatial Data</a></li>
                <li><a href="#share" data-toggle="tab">Share</a></li>
            </ul>-->
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="parcel">
                    [[#data]]
                    <table>
                        [[#owner]]
                        <tr><td>Owner</td><td>[[owner]]</td></tr>
                        [[/owner]]
                        [[^owner]]
                        <tr><td>Owner</td><td class="empty">[no data]</td></tr>
                        [[/owner]]
                        [[#saddr1]]
                        <tr><td>Address</td><td>[[saddr1]]</td></tr>
                        <tr><td></td><td>[[saddr2]]</td></tr>
                        [[/saddr1]]
                        [[^saddr1]]
                        <tr><td>Address</td><td class="empty">[no data]</td></tr>
                        [[/saddr1]]
                        <tr><td>APN</td><td>[[apn]]</td></tr>
                        <!--<tr><td>Zoning</td><td>[[zone]]</td></tr>-->
                    </table>
                    [[/data]]
                    [[extra]]
                    [[#data]]
                    <!--<hr>
                    <a href="#" onclick="removeParcel([[apn]]);return false;">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <i>remove this parcel</i>
                    </a>-->
                    [[/data]]
                </div>
                <!--<div class="tab-pane" id="spatial">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Resolution</th>
                        </tr>
                        [[#data]]
                            [[#coverages]]
                            <tr>
                                [[#properties]]
                                <td>[[name]]</td>
                                <td>[[acqdate]]</td>
                                <td>[[resinches]]"</td>
                                [[/properties]]
                            </tr>
                            [[/coverages]]
                        [[/data]]
                    </table>
                </div>
                <div class="tab-pane" id="share">
                    <h1>Share</h1>
                    <p>share share share share share</p>
                </div>-->
            </div>
        </div>
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/typeahead.min.js" %}"></script>
    <script src="{% static "js/GeoJSON.js" %}"></script>
    <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5Ctp-7ORjw5OX_9hUnYxoVjtoQNvtgEE&sensor=false"></script>
    <script src="{% static "js/pv.js" %}"></script>
  </body>
</html>

